<div id="main-wrapper">
  <app-navbar [headerBackgroundVisible]="headerBackgroundVisible"></app-navbar>
  <div class="content" role="main">

    <router-outlet></router-outlet>

  </div>
  <app-footer></app-footer>
</div>
