$gradient-color: linear-gradient(to right, rgba(0, 68, 86, 0.95), rgba(0, 68, 102, 0.98), #00447cd6);

::ng-deep {
  app-navbar {
    //.headerVisible{
    //  ba
    //}
    z-index: 2;

    .headerHidden {
      background-color: transparent !important;
      background-image: unset !important;
      //color: #00447cd6 !important;
      color: $gradient-color !important;

      svg {
        g {
          //fill: #00447cd6 !important;
          fill: $gradient-color !important;
        }
      }
    }

    #toolbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      //background-color: #00447cd6;
      background-image: $gradient-color;
      color: white;
      font-weight: 600;

      .icon-title {
        font-size: 20px;
      }

      img {
        margin: 0 16px;
      }

      #social-div {
        .twitter-logo {
          height: 40px;
          margin: 0 8px;
        }

        .linkedin-logo {
          height: 40px;
          margin: 0 16px;
        }

        .gitlab-logo {
          height: 40px;
          margin: 0 16px;
        }

        .github-logo {
          height: 40px;
          margin: 0 16px;
        }

        .facebook-logo {
          height: 40px;
          margin: 0 16px;
        }

        .instagram-logo {
          height: 40px;
          margin: 0 16px;
        }

        .twitter-logo:hover,
        .github-logo:hover,
        .gitlab-logo:hover,
        .instagram-logo:hover,
        .facebook-logo:hover,
        .linkedin-logo:hover {
          opacity: 0.8;
        }
      }

      #nav-div {
        #nav-dropdown {
          background: transparent;
          border: none;
          color: #FFF;
        }

        ul {
          list-style: none;

          li {
            margin: 2rem 0;

            a {
              svg {
                transform: scale(1.5);
              }

              .social-label {
                text-decoration: none;
                color: #FFF;
                padding-left: 3rem;
                font-size: 1.5rem;
              }
            }
          }
        }

        .twitter-logo {
          height: 40px;
          //margin: 0 1rem;
        }

        .linkedin-logo {
          height: 40px;
          //margin: 0 1rem;
        }

        .gitlab-logo {
          height: 40px;
          //margin: 0 1rem;
        }

        .github-logo {
          height: 40px;
          //margin: 0 1rem;
        }

        .facebook-logo {
          height: 40px;
          //margin: 0 1rem;
        }

        .instagram-logo {
          height: 40px;
          //margin: 0 1rem;
        }

        .twitter-logo:hover,
        .github-logo:hover,
        .gitlab-logo:hover,
        .instagram-logo:hover,
        .facebook-logo:hover,
        .linkedin-logo:hover {
          opacity: 0.8;
        }
      }
    }

    .spacer {
      flex: 1;
    }

    @media only screen and (max-width: 712px) {
      #social-div {
        display: none;
      }
      #nav-div {
        display: block;
      }
    }

    @media only screen and (min-width: 713px) {
      #social-div {
        display: block;
      }
      #nav-div {
        display: none;
      }
    }

    #nav-div {
      padding-right: 1rem;

      .offcanvas {
        background-image: $gradient-color;

        button {
          font-size: 1.2rem;
          color: #FFF !important;
        }
      }

      #nav-dropdown {

      }
    }
  }
}
