<!--<footer class="footer">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <nav class="footer-nav col-6">-->
<!--        <ul>-->
<!--          <li><a href="https://www.creative-tim.com">Info</a></li>-->
<!--          <li><a href="http://blog.creative-tim.com">Contacts</a></li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--      <div class="credits ml-auto col-6">-->
<!--                <span class="copyright">-->
<!--                    © {{dateNow | date: 'yyyy'}}, made by Abhishek Satyal-->
<!--                </span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<footer>
  <ul class="footer-links">
    <li><a (click)="redirect('home')">Home</a></li>
    <li><a (click)="redirect('about')">About</a></li>
<!--    <li><a (click)="redirect('home')">Contact</a></li>-->
  </ul>
  <p>&copy; {{dateNow | date: 'yyyy'}} Abhishek Satyal. All rights reserved.</p>
</footer>
