$gradient-color: linear-gradient(to right, rgba(0, 68, 86, 0.84), rgba(0, 68, 102, 0.84),#00447cd6);

::ng-deep {
  app-footer {
    //footer {
    //  margin-top: 8px;
    //  display: flex;
    //  align-items: center;
    //  line-height: 20px;
    //
    //  a {
    //    display: flex;
    //    align-items: center;
    //  }
    //
    //  .footer-nav{
    //    ul {
    //      list-style-type: none;
    //      margin: 0;
    //      padding: 0;
    //      overflow: hidden;
    //      //background-color: #333333;
    //    }
    //
    //    li {
    //      float: left;
    //    }
    //
    //    li a {
    //      display: block;
    //      //color: white;
    //      text-align: center;
    //      padding: 16px;
    //      text-decoration: none;
    //    }
    //
    //    li a:hover {
    //      //background-color: #111111;
    //    }
    //  }
    //}
    footer {
      background-image: $gradient-color;
      color: #fff;
      padding: 20px 0;
      text-align: center;

      p{
        font-size: 16px;
      }
    }

    .footer-logo {
      font-size: 24px;
      font-weight: bold;
    }

    .footer-links {
      list-style: none;
      padding: 0;
      font-size: 18px;
      cursor: pointer;

      li {
        display: inline;
        margin: 0 10px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .footer-social {
      margin-top: 20px;

      a {
        font-size: 24px;
        margin: 0 10px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
