$gradient-color: linear-gradient(to right, rgba(0, 68, 86, 0.95), rgba(0, 68, 102, 0.98), #00447cd6);

::ng-deep {
  app-homepage {
    width: 100%;

    body {
      color: #66615b;
      font-size: 14px;
      font-weight: 300;
      font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    }

    a {
      color: #51bcda;
    }

    a:hover, a:focus {
      color: #2ba9cd;
      text-decoration: none;
    }

    a:focus, a:active,
    button::-moz-focus-inner,
    input[type="reset"]::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner,
    input[type="submit"]::-moz-focus-inner,
    select::-moz-focus-inner,
    input[type="file"] > input[type="button"]::-moz-focus-inner {
      outline: 0;
    }

    .page-header {
      background-color: #B2AFAB;
      background-image: url("./../../../assets/img/myPic.jpeg");
      background-repeat: no-repeat;
      @media only screen and (max-width: 480px) {
        background-size: cover;
        background-position-x: -14rem;

        .presentation-title {
          line-height: 3rem;
          font-size: 4em;
          font-weight: 700;
        }
      }
      @media only screen and (min-width: 481px) {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      background-position: center center;
      background-size: cover;
      min-height: 100vh;
      max-height: 999px;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .page-header .filter::after {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .page-header.section-dark .content-center,
    .page-header.section-dark .category-absolute {
      z-index: 1;
    }

    .page-header .motto {
      text-align: left;
      z-index: 3;
      color: #fff;
      position: relative;
    }

    .title-brand {
      //max-width: 730px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      color: #FFFFFF;
      display: block;
    }

    .title-brand .type {
      position: absolute;
      font-size: 20px;
      background: #132026;
      padding: 6px 10px;
      border-radius: 4px;
      top: 0;
      font-weight: 600;
      margin-top: 10px;
      right: -15px;
    }

    .presentation-title {
      line-height: 6rem;
      font-size: 8em;
      font-weight: 700;
      margin: 0;
      color: #FFFFFF;
      background: #fbf8ec;
      //background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
      //background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
      //background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
      background: linear-gradient(to bottom, #df8c8c 35%, #618a9d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .presentation-subtitle {
      font-size: 1.7em;
      color: #FFFFFF;
    }

    .category-absolute {
      position: absolute;
      text-align: center;
      top: 100vh;
      margin-top: -60px;
      padding: 0 15px;
      width: 100%;
      color: rgba(255, 255, 255, 0.5);
    }

    .category-absolute .creative-tim-logo {
      max-width: 140px;
      top: -2px;
      left: 3px;
      position: relative;
    }

    .fog-low {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: -35%;
      margin-bottom: -50px;
      width: 110%;
      opacity: .85;
    }

    .fog-low img {
      width: 100%;
    }

    .fog-low.right {
      margin-left: 30%;
      opacity: 1;
    }

    .page-header .content-center {
      margin-bottom: 32rem;
      width: 100%;

      @media only screen and (min-width: 2000px) {
        margin-bottom: 40rem;
      }
    }

    .moving-clouds {
      background-image: url("./../../../assets/img/clouds.png");
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 250.625em;
      height: 43.75em;
      -webkit-animation: cloudLoop 80s linear infinite;
      animation: cloudLoop 80s linear infinite;
    }

    @keyframes cloudLoop {
      0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
      }
    }

    .following img {
      max-width: 70px;
    }

    .intro-title-div {
      text-align: -webkit-center;
      text-align: -moz-center;

      .my-journey {
        text-align: -webkit-center;
        text-align: -moz-center;
        margin: 5rem 1rem 5rem 1rem;
        position: relative;


        .header-h1 {
          width: 20%;
          text-align: center;
          border-bottom: 3px solid #000;
          line-height: 0.1em;
          margin: 10px 0 20px;

          @media only screen and (max-width: 760px) {
            width: 50%;
          }

          span {
            background: #fff;
            padding: 0 10px;
            font-weight: 900;
            font-style: italic;
          }
        }
      }
    }

    .intro-div {

      position: relative;

      .faded-background{
        background-color: rgb(255 255 255 / 58%);

        @media only screen and (max-width: 480px) {
          padding: 1rem 10% 4rem 10%;
        }
        @media only screen and (min-width: 481px) and (max-width: 1500px) {
          padding: 8rem 10% 7rem 10%;
        }
        @media only screen and (min-width: 1501px) {
          padding: 10rem 10% 9rem 10%;
        }
        @media only screen and (min-width: 2000px) {
          height: 90rem;
        }
      }

      .first-div {
        position: relative;

        background-color: #B2AFAB;
        background-image: url("./../../../assets/img/nit.jpg");
        background-repeat: no-repeat;
        color: #FFF;

        @media only screen and (max-width: 480px) {
          background-size: cover;
          background-position-x: -14rem;
        }
        @media only screen and (min-width: 481px) {
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .second-div {
        position: relative;

        background-color: #B2AFAB;
        background-image: url("./../../../assets/img/clusus.jpg");
        background-repeat: no-repeat;
        color: #FFF;

        @media only screen and (max-width: 480px) {
          background-size: cover;
          background-position-x: -34rem;
        }
        @media only screen and (min-width: 481px) {
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        @media only screen and (min-width: 2000px) {
          height: 90rem;
        }
      }

      p {
        @media only screen and (max-width: 480px) {
          text-align: center;
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #000000;
          font-weight: 500;
          padding-bottom: 0;
        }
        @media only screen and (min-width: 481px) and (max-width: 1500px) {
          text-align: center;
          font-size: 2rem;
          line-height: 2.5rem;
          color: #000000;
          font-weight: 300;
          padding-bottom: 1rem;
        }
        @media only screen and (min-width: 1501px) {
          text-align: center;
          font-size: 2.5rem;
          line-height: 3.5rem;
          color: #000000;
          font-weight: 300;
          padding-bottom: 1rem;
        }
      }
    }

    .intro-div-divider{
      width: 100%;
      background-color: #FFFFFF;
      height: 10rem;
      content: "";

      @media only screen and (min-width: 481px) {
        &.last-intro-div-divider{
          display: none;
        }
      }
    }
  }
}
