<div>
  <div class="page-header section-dark">
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Welcome Abroad</h1>
        </div>
      </div>
    </div>
    <div class="moving-clouds"></div>
  </div>
  <div class="intro-title-div flex-row">
    <div class="flex-col my-journey">
      <h1 class="header-h1">
        <span>My journey</span>
      </h1>
    </div>
  </div>
  <div class="intro-div flex-row">
    <div class="first-div">
      <div class="faded-background">
        <p>
          Hello, I'm Abhishek Satyal, a seasoned Software Developer with about 6 years of experience in the field. My
          journey has been marked by a strong commitment to creating innovative software solutions and improving the quality
          of code. I have a proven track record of developing multi-tier applications, specializing in Full Stack Java
          Development.
        </p>
        <p>
          My journey began in the picturesque town of Biratnagar, where I cherished my childhood memories. I then embarked on a transformative adventure, spending a portion of my formative years in the enchanting Kalimpong, where I pursued my education at Saptashri Gyanpeeth.
        </p>
        <p>
          Returning to my roots in Biratnagar, I completed my SLC examination at DAV School, solidifying my educational foundation. For my intermediate studies, I ventured to Machilipatnam, fondly known as Bandar by the locals. During my two unforgettable years there, I honed my skills and deepened my knowledge.
        </p>
        <p>
          My academic journey reached new heights when I secured admission to the esteemed National Institute of Technology Rourkela. There, I pursued a Bachelor of Technology in Computer Science and Engineering, further fueling my passion for technology and innovation.
        </p>
      </div>
    </div>
  </div>
<!--  <div class="intro-div-divider">-->
<!--  </div>-->
<!--  <div class="intro-title-div flex-row intro-div-divider">-->
<!--    <div class="flex-col my-journey">-->
<!--      <h1 class="header-h1">-->
<!--        <span>My work</span>-->
<!--      </h1>-->
<!--    </div>-->
<!--  </div>-->
  <div class="intro-div flex-row">
    <div class="second-div">
      <div class="faded-background">
        <p>
          After an enriching four-year stint at NIT-Rourkela, my professional journey led me to TechTatva Pvt. Ltd. in July 2017. During my tenure as a Software Developer, I delved deep into the world of technology, honing my skills and expanding my knowledge.
        </p>
        <p>
          In 2019, I embarked on a new chapter with Clusus Information Solution, a subsidiary of ProgressSoft Corporation Pvt. Ltd. This experience introduced me to a diverse range of technology stacks, broadening my expertise. I also took on the role of team lead for over a year, showcasing my leadership capabilities.
        </p>
        <p>
          However, my pursuit of knowledge and personal growth took me to Canada, where I pursued a degree in Cloud Computing for Big Data at Lambton College in Toronto. I graduated with distinction, earning a place on the Program Dean's Honour List and receiving Graduation Awards.
        </p>
      </div>
    </div>
  </div>
  <div class="intro-div-divider last-intro-div-divider">
  </div>
</div>
